.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f0f4ff;
}

.content {
  display: flex;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 950px;
  height: 80vh;
  padding: 12px;
}

body {
  font-family: "Ubuntu", sans-serif;
}
